<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zerotop.scallion.web.psychokinesis.mapper.SentenceMapper">
    <resultMap id="BaseResultMap" type="top.zerotop.scallion.web.psychokinesis.entity.Sentence">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="sentence" jdbcType="VARCHAR" property="sentence"/>
    </resultMap>

    <sql id="BaseColumn">
        id, user_id, sentence
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumn"/>
        from t_sentence
    </select>

    <insert id="saveSentence">
        insert into t_sentence(user_id, sentence)
        values (#{userId}, #{sentence})
    </insert>
</mapper>