<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.zerotop.scallion.task.auto.mapper.ScheduleTaskMapper">
    <resultMap id="BaseResultMap" type="top.zerotop.scallion.task.auto.entity.ScheduleTask">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="task_service" jdbcType="VARCHAR" property="taskService"/>
        <result column="cron" jdbcType="VARCHAR" property="cron"/>
        <result column="data_status" jdbcType="TINYINT" property="dataStatus"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>
    
    <sql id="BaseColumn">
        id, task_id, task_name, task_service, cron, data_status, params, create_time, update_time
    </sql>
    
    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumn"/>
        from t_schedule_task
    </select>
</mapper>